<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Car Workshop</title>

	</head>


	<body class="header-collapse">
		
		<div id="site-content">
			
			<header class="site-header">
				<div class="container">
					<a id="branding" href="#">
						<h1 class="site-title">StateOf<span>Disrepair</span></h1>
					</a>

					<nav class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a (click)="logoutuser($event)" href="#" role="button">Logout</a></li>
						</ul>
					</nav>
					<nav class="mobile-navigation"></nav>
				</div>
			</header> <!-- .site-header -->
      			<main class="main-content">
				<div class="fullwidth-block content">
					<div class="container">
      <div class="car-box car-box-bg-image text-center" style="margin-right:50px" *ngIf='popravka'>
		<p class="model">{{popravka.id_model}}</p>
		<ul class="features-list">
			<li><strong>Broj sasije:</strong> {{popravka.broj_sasije}}</li>
			<li><strong>Registracija:</strong> {{popravka.reg_br}}</li>
			<li><strong>Godiste:</strong> {{popravka.godiste}}</li>
			<li><strong>klima:</strong> {{popravka.klima}}</li>
      <li><strong>status:</strong> {{popravka.status_popravke}}</li>
      <li><strong>radno mesto:</strong> {{popravka.naziv_rm}}</li>
      <li><strong>opis:</strong> {{popravka.opis}}</li>
		</ul>
    <button class="btn-primary" (click)="zavrsipop($event,popravka)"> Zavrsi popravku</button>
      </div>


	<div class="car-box car-box-bg-image text-center" style="margin-right:50px; max-width:2000px;">
    <label >Search</label>
<div class="example-header">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">

</div>

<div class="example-container mat-elevation-z8">

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


  <!-- Sifra Column -->
  <ng-container matColumnDef="sifra_dela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sifra </th>
    <td mat-cell *matCellDef="let element"> {{element.sifra_dela}} </td>
  </ng-container>

  <!-- Ime Column -->
  <ng-container matColumnDef="ime_dela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime </th>
    <td mat-cell *matCellDef="let element"> {{element.ime_dela}} </td>
  </ng-container>

  <!-- Cena Column -->
  <ng-container matColumnDef="cena_dela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
    <td mat-cell *matCellDef="let element"> {{element.cena_dela}} </td>
  </ng-container>

  <!-- Opis Column -->
  <ng-container matColumnDef="opis_dela">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
    <td mat-cell *matCellDef="let element"> {{element.opis_dela}} </td>
  </ng-container>

    <!-- Dodaj deo Column -->
    <ng-container matColumnDef="dodaj_deo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dodaj </th>
    <td mat-cell *matCellDef="let element"> <button class="btn-primary" (click)="dodajdeo($event,element,kolicina)">Dodaj</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
	</div>

  
					</div>
				</div> 
			</main>

		</div>
	</body>
</html>