<h1 class="text-center">Zakazane popravke</h1>


	<div class="car-box car-box-bg-image text-center" *ngFor="let popravka of popravke" style="margin-right:50px">
		<p class="model">{{popravka.id_model}}</p>
		<ul class="features-list">
			<li><strong>Broj sasije:</strong> {{popravka.broj_sasije}}</li>
			<li><strong>Registracija:</strong> {{popravka.reg_br}}</li>
			<li><strong>Godiste:</strong> {{popravka.godiste}}</li>
			<li><strong>klima:</strong> {{popravka.klima}}</li>
      <li><strong>status:</strong> {{popravka.status_popravke}}</li>
      <li><strong>radno mesto:</strong> {{popravka.naziv_rm}}</li>
      <li><strong>opis:</strong> {{popravka.opis}}</li>
		</ul>
    <button class="btn-primary" (click)="zapocnipop($event,popravka)">Zapocni popravku</button>
	</div>

  <h1 class="text-center">Zapocete popravke</h1>


	<div class="car-box car-box-bg-image text-center" *ngFor="let popravka of popravkezap"  style="margin-right:50px">
		<p class="model">{{popravka.id_model}}</p>
		<ul class="features-list">
			<li><strong>Broj sasije:</strong> {{popravka.broj_sasije}}</li>
			<li><strong>Registracija:</strong> {{popravka.reg_br}}</li>
			<li><strong>Godiste:</strong> {{popravka.godiste}}</li>
			<li><strong>klima:</strong> {{popravka.klima}}</li>
      <li><strong>status:</strong> {{popravka.status_popravke}}</li>
      <li><strong>radno mesto:</strong> {{popravka.naziv_rm}}</li>
      <li><strong>opis:</strong> {{popravka.opis}}</li>
		</ul>
    <button class="btn-primary" (click)="zapocnipop($event,popravka,true)">Nastavi popravku</button>
	</div>

  <h1 class="text-center">Delovi</h1>


	<div class="car-box car-box-bg-image text-center" style="margin-right:50px; max-width:2000px;">
    <label >Search</label>
      <form (submit)="search($event)">
            <input type="text" id="search" placeholder="Search">
            <input type="submit" value="Pretrazi">
      </form>
    <table>
      <tr>
        <th>Sifra</th>
        <th>Ime</th>
        <th>Cena</th>
        <th>Opis</th>
      </tr>
      <tr *ngFor="let item of pageOfItems" >
        <th>{{item.sifra_dela}}</th>
        <th>{{item.ime_dela}}</th>
        <th>{{item.cena_dela}}</th>
        <th>{{item.opis_dela}}</th>
      </tr>
    </table>

    <div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="sifra">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sifra </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sifra}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="ime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ime </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ime}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cena">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cena </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cena}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="opis">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Opis </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.opis}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



        